<!--
  Home/Home.page.html
  Home page template declaration
  -----------------------------------------------------------------------------
-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"> <ion-menu-button autoHide="false"></ion-menu-button> </ion-buttons>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header> <ion-card-title>Welcome!</ion-card-title> </ion-card-header>

    <ion-card-content>
      Welcome to the My Scale App, a place for you and your partner to sync your feelings and
      thoughts.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header> <ion-card-title>Recent Scales</ion-card-title> </ion-card-header>

    <ion-card-content>
      <ion-list *ngFor="let scale of scales">
        <ion-item detail [routerLink]="['/scale-detail/' + scale.id]">
          <ion-label>{{ scale.name }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
